In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 500)

In [3]:
pd.set_option('display.max_rows', 500)

In [4]:
golfers = pd.read_csv('scores.csv', names = ['Sir Barton (1)', 'Gallant Fox (2)', 'Omaha (3)', 'War Admiral (4)', 'Whirlaway (5)', 'Count Fleet (6)', 'Assault (7)', 'Citation (8)', 'Secretariat (9)', 'Seattle Slew (10)',  'Affirmed (11)', 'American Pharoah (12)', 'Justify (13)', 'Next TC Winner (14)', 'Damascus (15)', 'Alydar (16)', 'Northern Dancer (17)', 'Man O War (18)'])

In [5]:
totals = []
averages = []
medians = []
for i in range (0,9):
    totals.append(golfers.iloc[i].sum())
    averages.append(golfers.iloc[i].mean().round(1))
    medians.append(golfers.iloc[i].median())
    

golfers["Total"] = totals
golfers["Mean"] = averages
golfers["Median"] = medians

In [6]:
appended_golfers = golfers.append(golfers.sum().rename('Total')).sort_values(by=["Total"])

In [7]:
appended_golfers = appended_golfers.append(golfers.mean().round(1).rename('Mean'))

In [8]:
appended_golfers = appended_golfers.append(golfers.median().rename('Median'))

# Mini Golf Scores

In [9]:
appended_golfers

,Sir Barton (1),Gallant Fox (2),Omaha (3),War Admiral (4),Whirlaway (5),Count Fleet (6),Assault (7),Citation (8),Secretariat (9),Seattle Slew (10),Affirmed (11),American Pharoah (12),Justify (13),Next TC Winner (14),Damascus (15),Alydar (16),Northern Dancer (17),Man O War (18),Total,Mean,Median
Kim,2.0,3.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,2.0,4.0,2.0,3.0,2.0,4.0,44.0,2.4,2.0
George,2.0,3.0,2.0,2.0,3.0,3.0,3.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,3.0,3.0,3.0,3.0,45.0,2.5,2.5
Chris,2.0,3.0,3.0,2.0,3.0,2.0,1.0,2.0,2.0,3.0,3.0,3.0,3.0,5.0,2.0,2.0,2.0,4.0,47.0,2.6,2.5
Pat,2.0,4.0,2.0,2.0,3.0,4.0,4.0,3.0,4.0,2.0,2.0,2.0,3.0,3.0,2.0,2.0,2.0,2.0,48.0,2.7,2.0
Mitch,2.0,5.0,2.0,2.0,3.0,4.0,2.0,3.0,2.0,3.0,2.0,2.0,5.0,2.0,2.0,3.0,3.0,2.0,49.0,2.7,2.0
Sean,4.0,3.0,2.0,3.0,3.0,6.0,3.0,2.0,2.0,3.0,2.0,3.0,4.0,3.0,3.0,3.0,2.0,2.0,53.0,2.9,3.0
Bryan,5.0,3.0,4.0,4.0,5.0,2.0,2.0,2.0,4.0,3.0,4.0,2.0,3.0,3.0,2.0,2.0,2.0,2.0,54.0,3.0,3.0
Wasi,2.0,5.0,2.0,5.0,6.0,4.0,2.0,4.0,3.0,5.0,4.0,2.0,2.0,5.0,1.0,2.0,2.0,1.0,57.0,3.2,2.5
David,3.0,5.0,3.0,3.0,6.0,6.0,2.0,2.0,2.0,3.0,2.0,2.0,6.0,2.0,2.0,3.0,4.0,1.0,57.0,3.2,3.0
Total,24.0,34.0,22.0,25.0,35.0,33.0,21.0,23.0,23.0,27.0,23.0,20.0,30.0,29.0,19.0,23.0,22.0,21.0,454.0,25.2,22.5
Mean,2.7,3.8,2.4,2.8,3.9,3.7,2.3,2.6,2.6,3.0,2.6,2.2,3.3,3.2,2.1,2.6,2.4,2.3,50.4,2.8,2.5
Median,2.0,3.0,2.0,2.0,3.0,4.0,2.0,2.0,2.0,3.0,2.0,2.0,3.0,3.0,2.0,3.0,2.0,2.0,49.0,2.7,2.5

# Mini Golf Scores With Columns Sorted By Hole Score

In [10]:
appended_golfers.sort_values(by = "Total", axis = 1)

NameError: name 'golfers2' is not defined

We can see here that Damascus was the easiet hole wuth a total of 21 (we were almost par for the course here on average), while Whirlaway was the toughest (but not by median) with a total of 35

Let's remove Damascus and Whirlaway to see if the order changes

In [ ]:
golfers = golfers.drop(["Damascus (15)", "Whirlaway (5)", "Total", "Mean", "Median"], axis = 1)

In [ ]:
totals = []
averages = []
medians = []
for i in range (0,9):
    totals.append(golfers.iloc[i].sum())
    averages.append(golfers.iloc[i].mean().round(1))
    medians.append(golfers.iloc[i].median())
    

golfers["Total"] = totals
golfers["Mean"] = averages
golfers["Median"] = medians

In [ ]:
golfers.sort_values(by = "Total")